<ion-header [translucent]="true">
  <ion-toolbar style="--background:#4854e0; color:white; ">
    <ion-title>
      Other
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!--ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 3</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-explore-container name="Tab 3 page"></app-explore-container-->



    <br/>

    <ion-row style="text-align:center;">
      <ion-col size="4"> <ion-icon color="primary" size="large" name="accessibility-outline"></ion-icon><br/>Customer Management </ion-col>
      <ion-col size="4"> <ion-icon color="primary" size="large" name="speedometer-outline"></ion-icon><br/>Driver Management</ion-col>
      <ion-col size="4"> <ion-icon color="primary" size="large" name="bus-outline"></ion-icon><br/>Carrier Management </ion-col>
    </ion-row>

    <ion-row style="text-align:center; margin-top:10px; ">
      <ion-col size="4"> <ion-icon color="primary" size="large" name="gift-outline"></ion-icon><br/>Shipper Management </ion-col>
      <ion-col size="4"> <ion-icon color="primary" size="large" name="cube-outline"></ion-icon><br/>Consignee Management</ion-col>
      <ion-col size="4"> <ion-icon color="primary" size="large" name="cash-outline"></ion-icon><br/>Pay Management </ion-col>
    </ion-row>

    <ion-row style="text-align:center; margin-top:10px; ">
      <ion-col size="4"> <ion-icon color="primary" size="large" name="pie-chart-outline"></ion-icon><br/>YearEnd Reporting </ion-col>
      <ion-col size="4"> <ion-icon color="primary" size="large" name="bar-chart-outline"></ion-icon><br/>Expense Management</ion-col>
      <ion-col size="4"> <ion-icon color="primary" size="large" name="document-text-outline"></ion-icon><br/>Summary Management </ion-col>
    </ion-row>

    <br/>

    <p style="text-align:center;">
      <a target="_BLANK" style="text-decoration: none;" href="https://smartdispatchsystem.com">SMARTDISPATCHSYSTEM.COM</a>
    </p>
    



</ion-content>
